@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
}

body {
    background: #171717;
}

button {
    background: transparent;
    cursor: pointer;
}

.wrapper {
    min-height: 100vh;
    padding-bottom: 100px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.title {
    text-align: center;
    font-size: 28px;
    margin: 54px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -7.5px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.card-wrapper {
    flex: 0 0 33.333%;
    padding: 0 7.5px;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}

.image-block {
    display: flex;
    width: 100%;
    height: 160px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    padding: 15px 15px 20px 15px;
    background: #212121;
}

.card__title {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.card__subtitle {
    font-size: 14px;
    color: #e0e0e0;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    font-size: 16px;
    transition: .3s ease;
}

.more:hover {
    background: #fff;
    color: #171717;
}